.sidebar {
  width: 250px;
  background-color: var(--color-bg);
  padding: 30px 0 0 31px;
  overflow-y: auto;
  flex-shrink: 0;
}

.sidebar__menu {
  margin-bottom: 60px;
}

.sidebar__menu .sidebar__item:last-child {
  display: none;
}

.sidebar__categories {
  margin-bottom: 58px;
}

.sidebar__subscriptions {
  margin-bottom: 104px;
}

.sidebar__item {
  margin-bottom: 29px;
  color: var(--color-text);
  font-size: 16px;
  transition: transform 0.3s;
}

.sidebar__item:hover {
  color: var(--color-accent);
  transform: translateY(-10%);
}

.sidebar__item * {
  color: inherit;
  font-size: inherit;
}

.sidebar__item:hover * {
  color: inherit;
}

.sidebar__item a {
  display: flex;
  gap: 13px;
  align-items: center;
}

.sidebar__item .iconify {
  font-size: 20px;
}

.sidebar__item .sidebar__img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.sidebar__subscriptions .sidebar__item {
  margin-bottom: 23px;
}

.sidebar__subscriptions .sidebar__item a {
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 61px;
    background-color: var(--color-bg);
    z-index: 1;
  }

  .sidebar.hidden {
    display: block;
  }

  .sidebar__menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 100%;
  }
  .sidebar__menu .sidebar__item:last-child {
    display: block;
  }
  .sidebar__menu .sidebar__item {
    margin: 0;
    font-size: 10px;
  }
  .sidebar__menu .sidebar__item a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .sidebar__categories {
    display: none;
  }

  .sidebar__subscriptions {
    display: none;
  }

  .sidebar__other {
    display: none;
  }
}
