@import url("colors.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  /* transition: all 0.5s; */
  font-family: "Mulish", sans-serif;
}

html {
  background-color: var(--color-bg);
}

.container {
  padding-right: 70px;
  margin: auto;
  width: auto;
}

.content {
  display: flex;
  position: fixed;
  height: calc(100vh - 84px);
  top: 84px;
  width: 100vw;
}

main {
  flex-grow: 1;
  max-width: calc(100vw - 250px);
  padding-left: 5px;
  overflow-y: auto;
}

.sidebar.hidden ~ main {
  max-width: 100vw;
}

.title-first {
  font-size: 26px;
  color: var(--color-primary);
  font-weight: 700;
}

.title-second {
  font-size: 18px;
  color: var(--color-title);
  margin-bottom: 30px;
}

.title-third {
  font-size: 16px;
}

.title-fourth {
  font-size: 13px;
  color: var(--color-secondary);
}

.hidden {
  display: none;
}

.img__container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.img__container img {
  width: 100%;
  height: auto;
}

.img__duration {
  position: absolute;
  width: 47px;
  height: 24px;
  text-align: center;
  align-content: center;
  border-radius: 12px;
  color: var(--color-bg);
  background-color: var(--color-icons);
  font-size: 14px;
  bottom: 10px;
  right: 10px;
}

.iconify {
  color: var(--color-text);
  cursor: pointer;
}
.iconify:hover {
  color: var(--color-accent);
}
.subcription__btn {
  background-color: var(--color-accent);
  color: var(--color-bg);
  border-radius: 20px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.subcription__btn:hover {
  transform: translateY(-5%);
}

.switch {
  display: block;
  width: 44px;
  height: 28px;
  border-radius: 14px;
  background-color: var(--color-search);
  position: relative;
  cursor: pointer;
}

.switch__btn {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(33, 150, 243, 1);
  position: absolute;
  top: 2px;
  right: 2px;
}

.btn-transparent {
  background: none;
  color: var(--color-accent);
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  .switch {
    width: 30px;
    height: 19px;
  }

  .switch__btn {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    height: calc(100vh - 54px);
    top: 54px;
  }

  .content main {
    max-width: 100%;
    padding-bottom: 61px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .container {
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .content main {
    padding: 6px 16px 61px;
  }

  .content {
    top: 54px;
  }
}
